


.row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10px;
}

.modalbox {
    display: none;
    border: solid 2px darkred;
    background: red;
}   